matplotlib==3.9.2
six==1.16.0
scipy==1.14.1
seaborn==0.13.2
pandas==2.2.3
scikit-learn==1.5.2
tensorflow==2.17.0
torch==2.4.1
tensorboard==2.17.1
onnx==1.16.0
onnx_tf==1.6.0
numpy==1.23.5
keras==3.6.0
